.Dropdown {
    margin:auto;
    width:25%;
}

.ddHeader {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ddList {
    max-height:500px;
    overflow-y: auto;
}

.ddItem{
    list-style: none;
}